<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-img src="assets/img/move up!.png"/>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-back-button defaultHref="/conductor" text="Atras"></ion-back-button>
    </ion-buttons>
    <br>
    <ion-title><h1>EN CURSO</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viaje">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Origen: {{ viaje.origen }}</ion-card-title>
      <ion-card-subtitle>Destino: {{ viaje.destino }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha: {{ viaje.fecha | date }}</p>
      <p>Hora: {{ viaje.hora | date:'shortTime' }}</p>
      <p>Estado: {{ viaje.estado }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="finalizar()">
    Finalizar Viaje
  </ion-button>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <p class="centered-text">powered by V&A</p>
  </ion-toolbar>
</ion-footer>